/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
html {
    interpolate-size: allow-keywords;
}
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

html, body {
    height: 100%;
}

.layout {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    background-color: #4590ce;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    padding: 20px 50px 20px 20px;
    width: max-content;
}

.links > * {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    color: #ffffff;
    font-size: 150%;
}

.links > * p {
    color: #ffffff;
}

.links > * svg {
    filter: invert(1);
    flex-shrink: 0;
}

.sidebar > :first-child{
    font-size: 1.3rem;
}

.content {
    flex-grow: 1;
    flex: 1;
}

.profile-picture {
    border-radius: 50%;
}

.upper-stripe {
    padding: 20px 100px 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-stripe {
    padding: 0px 100px 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-stripe div input {
    border-radius: 25px;
    border: 0;
    background-color: #e1e6ed;
    padding: 7px 15px;
    width: 580px;
}

.upper-stripe > div, .lower-stripe > div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.upper-stripe div p {
    font-size: 1.2rem;
}

.weighted {
    font-weight: 800;
}

.user-info {
    display: flex;
    gap: 24px;
}

.upper {
    box-shadow: 0px 0px 8px rgb(77, 76, 76);
    position: relative;
    z-index: 2;
}

.buttons button {
    padding: 5px 25px;
    border-radius: 20px;
    border: 0;
    background-color: #4590ce;
    color: #ffffff;
    font-weight: 800;
    font-size: 1.1rem;
}

.lower {
    background-color: #e3e8ef;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.section-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.announcements-card {
    background-color: #ffffff;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(187, 184, 184);
    margin-top: 10px;
}

.trending {
    margin-top: 30px; 
}

.trending-card {
    background-color: #ffffff;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(187, 184, 184);
    margin-top: 10px;
}

.profile-trending {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-trending:not(:first-of-type) {
    margin-top: 15px;
}